@model IEnumerable<Sprotify.Web.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<div class="container container-content">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Band</h2>
            <h3>Albums</h3>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            @if (Model.Any())
            {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.Art))
                                {
                                    <img src="@item.Art" class="img-thumbnail" style="max-height: 64px" alt="@item.Title" title="@item.Title" />
                                }
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td style="vertical-align: middle">
                                @item.ReleaseDate?.ToString("d")
                            </td>
                            <td style="vertical-align: middle">
                                @Html.ActionLink("Edit", "Edit", new { ViewBag.BandId, AlbumId = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { ViewBag.BandId, AlbumId = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <h4>This band has no albums yet</h4>
            }
            <p>
                <a asp-controller="Band" asp-action="Index">Back to bands</a>
            </p>
        </div>
    </div>
</div>